image: python:3.6-alpine
  
stages:
  - deploy

before_script:
   - apk update && apk add gcc python3-dev musl-dev
   - pip install twine
   - python setup.py sdist bdist_wheel

deploy_production:
  stage: deploy
  variables:
    TWINE_USERNAME: $PRODUCTION_USERNAME
    TWINE_PASSWORD: $PRODUCTION_PASSWORD
  script:
    - twine upload dist/*
  only:
    - tags
