#~ uncomment this to install pytest
#~ pytest>=3.1.1
#~ pytest-html>=1.14.2
#~ pytest-metadata>=1.5.0

requests>=2.11.1

#~ uncomment this for python 2.7.13
#~ pathlib>=1.0.1
#~ mom>=0.1.3 # base85

#~ uncomment this to install Sphinx to generate the documentation
#~ Sphinx>=1.6.2
#~ sphinx-autobuild>=0.6.0
#~ sphinxcontrib-websupport>=1.0.1
